<!doctype html>
<html lang="en">
    <head>
        {{ header_tmp | indent(width = 8, first = False) }}
        <title>Utility Libraries &mdash; Khronos Group</title>
    </head>

    <body>
        {{ nav_tmp | indent(width = 8, first = False) }}

        <div id="content" class="container text-dark mb-3 no-jumbotron px-0">
            <div class="container title-bg">
                <h1>OpenGL Utility Libraries</h1>
            </div>
                
            <div class="container"> 
                <div class="row">
                    <div class="col-md-5 p-3">
                        <center><img src="img/gears.jpg" width="100%" class="shadow-lg"></center>
                    </div>
                    <div class="col-md-7">
                        <p class="lead">
                        <strong>GLUT</strong> is the OpenGL Utility Toolkit, a window system independent toolkit 
                        for writing OpenGL programs. 
                        </p> 
                        <p style="line-height: 2.0em">
                        It implements a simple windowing application 
                        programming interface (API) for OpenGL. GLUT makes it considerably easier 
                        to learn about and explore OpenGL Programming.

                        The original GLUT has been unsupported for 20 years. Although a new
                        implementation has been developed called <strong>FreeGLUT.</strong>
                        <br/><br/>
                        <i>FreeGLUT</i> is a free-software/open-source alternative to the OpenGL Utility Toolkit (GLUT) library. GLUT was originally written by Mark Kilgard to support the sample programs in the second edition OpenGL 'RedBook'. Since then, GLUT has been used in a wide variety of practical applications because it is simple, widely available and highly portable.

                        GLUT (and hence freeglut) takes care of all the system-specific chores required for creating windows, initializing OpenGL contexts, and handling input events, to allow for trully portable OpenGL programs.

                        freeglut is released under the X-Consortium license.
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5 p-3">
                        <center><img src="img/mesa3d.jpg" width="100%" class="shadow-lg"></center>
                    </div>
                    <div class="col-md-7">
                        <p class="lead">
                        <strong>Mesa</strong> is an open-source OpenGL implementation, continually updated to 
                        support the latest OpenGL specification.
                        <p>
                        <p style="line-height: 2.0em">
                        <strong>The Direct Rendering Infrastructure,</strong>also known as the DRI, is a 
                        framework for allowing direct access to graphics hardware under the 
                        X Window System in a safe and efficient manner. It includes 
                        changes to the X server, to several client libraries, and to the 
                        kernel (DRM, Direct Rendering Manager). The most important use for 
                        the DRI is to create fast OpenGL implementations providing hardware 
                        acceleration for Mesa. Several 3D accelerated drivers have been 
                        written to the DRI specification, including drivers for chipsets 
                        produced by 3DFX, AMD (formerly ATI), Intel and Matrox.
                        </p>
                    </div>
                </div>

                <div class="container mt-5">
                    <h3>Higher Level OpenGL-based Libraries</h3>
                    <p>There are also other commercial libraries widely used in the industry
                    which are powered with the 3D rendering capabilities of the OpenGL API
                    which ensure proper cross-platform support as well as accurately 
                    rendered graphics optmized for different fields of work and research.
                    Among these are <strong>Open Inventor</strong>, <strong>Quesa3D</strong>,
                    and <strong>Open Scene Graph</strong>. <span class="text-muted">Click on
                    any image to view it fully.</span>
                    </p>
                </div>

                <div class="row">
                    <!-- Image thumbails -->
                    {% for img in images %}
                        <div class="col-4 p-3"><img type="button" src="{{img[1]}}" class="img-thumbnail" data-toggle="modal" data-target="#lb{{loop.index}}" width="100%"></div>
                    {% endfor  %}
                </div>

                {% for img in images %}
                <div class="modal fade" id="lb{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-lg modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">{{description[loop.index - 1]}}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img src="{{img[0]}}" style="width: 100%;">
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor  %}

            </div>

            <div class="container">

            </div>
        </div>
        {{ footer_tmp | indent(width = 8, first = False) }}
    </body>
</html>
