<footer class="footer text-dark p-3">
    <div class="container">
        <div class="row justify-content-md-center py-2">
            <div class="col">
                <p class="my-0" >Contact Info: </p>
                <a href="#" class="text-muted"><img src=""><p class="my-0">Facebook account</p></a>
                <a href="#" class="text-muted"><img src=""><p class="my-0">Facebook account</p></a>
                <a href="#" class="text-muted"><img src=""><p class="my-0">Facebook account</p></a>
                <a href="#" class="text-muted"><img src=""><p class="my-0">Facebook account</p></a>
                <a href="#" class="text-muted"><img src=""><p class="my-0">Facebook account</p></a>
            </div>

            <div class="col mb-3">
                <p class="my-0 mb-3">Sitemap</p>

                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a href="#" class="text-muted">Home</a></li>
                    <li class="nav-item"><a href="#" class="text-muted">About</a></li>
                    <li class="nav-item"><a href="#" class="text-muted">Gallery</a></li>
                    <li class="nav-item"><a href="#" class="text-muted">Publications</a></li>
                    <li class="nav-item"><a href="#" class="text-muted">News</a></li>
                    <li class="nav-item"><a href="#" class="text-muted">Events</a></li>
                    <li class="nav-item"><a href="#" class="text-muted">Contact Us</a></li>
                    <li class="nav-item"><a href="#" class="text-muted">Apply Now</a></li>
                </ul>
            </div>

            <div class="col-sm">
                <p>Developer:</p>
                <p class="text-muted">Uriel Federez</p>
            </div> 


            <div class="col ">
                <p>Other Contact Info:</p>
                <p class="text-muted">
                9450 SW Gemini Drive #45043
                Beaverton, OR 97008-6018 USA<br/>
                Office: +1 (415) 869-8627<br/>
                Fax: +1 (707) 202-0030
                </p>
            </div>
        </div>
    </div>
</footer>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
